.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 40px;
}

@media (max-width: 1199px) {
    .container {
        padding: 0 45px;
    }
}

@media (max-width: 767px) {
    .container {
        padding: 0 15px;
    }
}

.title {
    text-align: center;
    font-size: 36px;
    line-height: 44px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 24px;
}

.productList {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, max(320px));
    grid-auto-rows: auto;
    gap: 80px;
}

@media (max-width: 1199px) {
    .productList {
        display: flex;
        justify-content: center;
        align-items: top;
        flex-wrap: wrap;
    }
}

.productItem {
    width: 320px;
    display: flex;
    flex-direction: column;
}

/* @media (max-width: 767px) {
    .productList {
        grid-template-columns: repeat(1, max(320px));
    }
} */
