.text {
    margin: 0;
    font-size: 13px;
    text-align: center;
    font-weight: 700;
}

.action {
    cursor: pointer;
    text-decoration: underline dashed;
    color: #1698D9;
    padding-left: 5px;
}

.disable {
    color: yellow;
}
