.pageWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 35px 0;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    background-image: url("../../assets/Pattern.jpg");
    background-repeat: repeat;
    background-color: black;
  }
  
  main {
    flex-grow: 1;
  }
