.productCard {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    min-height: 480px;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 12px;
    font-family: 'Trebuchet MS','Arial', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #666666;
    clip-path: polygon(13.5% 0, 100% 0, 100% 100%, 0 100%, 0% 9%);
    background-repeat: no-repeat;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    padding: 19px 16px 16px 46px;
}

.cardImage {
    width: 100%;
    height: 272px;
    object-fit: cover;
    border-radius: 0 0 12px 12px;
}

.border {
    top: 0;
    left: 0;
    position: absolute;
    fill: #1698D9;
}

.borderHover {
    fill: rgb(87, 190, 242);
}

.borderSelected {
    fill: rgb(58, 187, 84);
}

.borderHoverSelected {
    opacity: 0.5;
}


.discription {
    font-size: 14px;
    line-height: 16px;
}

.disabled {
    cursor:default;
    opacity: 0.7;
}

.disabled .border {
    fill: grey;
}

.productCard p {
    margin: 0;
}

.productCard h2 {
    margin: 0;
    margin-bottom: 3px;
    margin-right: 60px;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: black; 
}

.productCard h3 {
    margin: 0;
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 28px;
    color: black; 
}

.weight {
    position: absolute;
    right: 12px;
    bottom: 9px;
    height: 80px;
    width: 80px;
    background-color: #1698D9;
    border-radius: 50%;
    padding-top: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    color: white;
    font-size: 42px;
    line-height: 22px;
}


.borderHover~.weight {
    background-color: rgb(87, 190, 242);
}

.selected .weight {
    background-color: rgb(58, 187, 84);
    transition: fill .7s ease;
}

.borderHoverSelected~.weight {
    background-color: rgb(58, 187, 84);
    opacity: 0.7;
}



.disabled .weight {
    background-color: grey;
}

.disabled:hover .weight {
    background-color: grey;
}

.weight span {
    font-size: 21px;
    margin: 0;
    margin-top: 10px;
}

.question {
    color: orange;
}

.text {
    margin: 0;
}
